spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "kanshi"
spawn-sh-at-startup "swaync"
spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "swayosd-server"
spawn-sh-at-startup "~/.config/niri/firstrun.sh"
spawn-sh-at-startup "hypridle"
spawn-sh-at-startup "hyprlock"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "waybar"
